= content_for :page_title, 'DaDbDc - Templates'
%h2 Templates

#templates
  %table
    %tr
      %th Platform
    = render partial: "template", collection: @templates

= link_to 'Add Template', new_template_path, class: "button radius"
= link_to 'Upload Schema', upload_schema_path, class: "button radius"
