%h2 Welcome to the template library

#templates
  %table
    %tr
      %th Platform
      %th Database
    = render partial: "template", collection: @templates

= link_to 'Add Template', new_template_path, class: "button radius"
