= content_for :page_title, 'DaDbDc - FAQ' 

%h2 FAQ 

%h4 Why the crazy name?

%p It started out as a bad mispelling of DataBaseDocumentationTool, but that seemed a little like overkill.  DaDbDc trips off the tongue and it's unique.  Mostly it's just unique.

%h4 What's the difference between precision and scale?

%p Precision is the total number of digits possible in a field.  Scale on the other hand is the number of digits to the right of the decimal point.  Precision includes the scale number.

