.large-9.columns
  %ul.breadcrumbs
    %li= link_to "Server: #{@server.name}", @server

  %h2 Database : #{@base.name}

  %table
    %tr
      %th Schemas
    = render partial: "schema", collection: @base.schemas

